services:
  database:
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      APPLICATION_SCHEMA: ${DATABASE_SCHEMA}
      APPLICATION_USER: ${DATABASE_USERNAME}
      APPLICATION_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - db-data:/var/lib/postgresql/data
    build:
      context: ./database
    networks:
      - default
  frontend:
    environment:
      STARTUP_MODE: ${STARTUP_MODE}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./frontend/src:/app/src:ro
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    networks:
      - default

volumes:
  db-data:
