@import '../../index.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 100vw;
  background-color: $primary-color;

  .navigation {
    height: 100%;
    width: 1200px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
