.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;

  .body {
    width: 1200px;
    padding: 0 16px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
