* {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-size: 32px;
}

$color-primary-100: rgba(#6095f8, 0.2);
$color-primary-200: rgba(#6095f8, 0.4);
$color-primary-300: rgba(#6095f8, 0.6);
$color-primary-400: rgba(#6095f8, 0.8);
$color-primary-500: #6095f8;

$color-white: #ffffff;
$color-gray-100: rgba(#7f7f7f, 0.2);
$color-gray-300: rgba(#7f7f7f, 0.6);
$color-gray-500: #7f7f7f;
$color-black: #000;

$global-radius: 4px;
