@import '../../index.scss';

.navigation {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  height: 100%;

  a {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-decoration: none;
    cursor: pointer;

    color: $color-white;
    transition: 0.2s;
    &:hover {
      color: $color-gray-300;
    }

    .logo {
      display: inline-block;
      vertical-align: top;
      width: 72px;
      margin: 6px 0;
      cursor: pointer;
    }

    .profile {
      display: inline-block;
      vertical-align: top;
      width: 32px;
      height: 32px;
      margin: 6px 0;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
